@import-normalize;

h1 {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
}

label {
  cursor: pointer;
}

.designer {
  font-size: 1.2em;
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 1.2;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  .toprow {
    @media (orientation: landscape) {
      display: grid;
      grid-template-columns: 1fr 97.75vh 1fr;
      height: 85vh;
      width: 100%;
    }
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .bottomrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tilebox {
    $hextool-size: 3.5em;
    $max-rowcols: 4;
    @media (orientation: landscape) {
      max-width: $max-rowcols * $hextool-size + 1em;
      margin-left: auto;
    }
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    label, input {
      cursor: pointer;
    }
    button.hexbutton{
      width: $hextool-size;
      height: $hextool-size;
      cursor: pointer;
      background: none;
      border: 3px solid white;
      margin: 0;

      svg path[style*="fill:none"] {
        stroke: #ccc !important;
        stroke-width: 3px !important;
      }

      &.active {
        border: 3px solid red;
      }
      img{
        width: 100%;
      }
    }
  }

  .scenariomap {
    cursor: pointer;
    @media (orientation: landscape) {
      width: 97.75vh;
      height: 100%;
    }
    @media (orientation: portrait) {
      width: 100%;
      height: 47vh;
    }
    pointer-events: visible;
    .grid_show .hexagon polygon {
      stroke: #ccc;
      stroke-width: 0.25px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    .grid_hide .hexagon polygon {
      stroke: none;
      stroke-width: 0;
    }
    .grid_hide.hex-gap polygon {
      fill: #fff;
    }
    .hexagon polygon:hover{
      stroke: #c00;
      stroke-width: 1px;
    }
  }

  .status-bar {
    font-size: 75%;
    text-align: right;
    width: 100%;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }

  .columnBox {
    @media (orientation: landscape) {
      max-width: 10em;
    }
    @media (orientation: portrait) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    height: inherit;
    overflow: auto;
    font-size: 90%;
  }

  .manage-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-size: 90%;
    button {
      display: inline-block;
      cursor: pointer;
      margin: 0;
      margin-bottom: 0.15em;
      width: 50%;

    }
    select {
      border-radius: 0.5em;
      width: 50%;
      cursor: pointer;
      margin-left: 0.5em;
      text-align: center;
      option{
      }
    }
    label {
      cursor: pointer;
      text-align: center;
      border: 1px solid #a5a5a5;
      border-radius: 0.5em;
      padding: 0.25em;
      margin-bottom: 0.15em;
      input {
        cursor: pointer;
        margin-right: 0.25em;
      }
    }
  }

  .namer{
    width: 100%;
    max-width: 10em;
    margin-bottom: 0.25em;
    text-align: center;
    input {
      width: 95%;
      height: 100%;
      max-height: 1em;
      font-size: 100%;
      margin: 0;
      padding: 0;
    }

    button {
      width: 1em;

      img {
        height: 0.65em;
      }
    }
  }

  .statusbox {
    font-size: 90%;
    line-height: 1;
    margin: 0;
    margin-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 1em;
    .good::before{
      font-weight: bold;
      color: green;
      content: '✓';
      padding-right: 0.12em;
    }

    .bad::before {
      font-weight: bold;
      color: red;
      content: '✗';
    }
  }

  .shift-tools{
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    display: flex;
    justify-content: center;
    .shift-buttons {
      position: relative;
      width: 6em;
      height: 6em;

      button {
        margin: 0.5em;
        position: absolute;
        top: 0;
        left: 0;
        img{
          height: 1em;
        }
        &.upleft{    transform: translate(0.9em, 0em) rotate(-30deg); }
        &.upright{   transform: translate(2.8em, 0em) rotate(30deg) ; }
        &.left{      transform: translate(0em, 1.6em) rotate(-90deg); }
        &.right{     transform: translate(3.7em, 1.6em) rotate(90deg); }
        &.downleft{  transform: translate(0.9em, 3.2em) rotate(-150deg); }
        &.downright{ transform: translate(2.8em, 3.2em) rotate(150deg); }
      }
    }

  }

  .gallery {
    max-width: 15em;
    min-width: 8em;
    font-size: 90%;
    overflow: auto;
    user-select: text;
    button.expand{
      float: left;
      margin: 0.25em;
      margin-top: -0.25em;
      margin-left: 0em;
      padding: 0em;
      font-weight: bold;
      font-size: 120%;
      border: none;
      background: none;
      width: 1em;
      user-select: none;
    }
    h1 {
      cursor: pointer;
      user-select: none;
      font-size: inherit;
      text-align:left;
      width: 100%;
      margin-top: 0;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      &.hide {
        display: none;

      }
    }
    li {
      margin-bottom: 0.25em;
      button {
        text-align: left;
        margin-right: 0em;
        margin-left: 0em;
        line-height: 1;
      }
    }
  }

  .textmap{
    font-size: 75%;
    overflow: hidden;
  }

  .security-bag{
    text-align: center;
    display: inline-block;
    .bag-row{
      width: 100%;
      padding: 0;
      margin: 0;
      img { width: 1.2em; }
      span { width: 1em; display: inline-block;}
      input[type=range] { width: calc(100% - 3em;); }
    }
    button {
      width: 1em;
      img { height: 0.65em; }
    }
  }

  .events {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    max-width: 10em;
    margin-bottom: 0.25em;
    text-align: center;
    input {
      width: calc(100% - 5em);
      max-height: 1em;
      font-size: 100%;
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    button {
      width: 1em;

      img {
        height: 0.65em;
      }
    }
  }

  .eventViewer {
    font-size: 90%;
    text-align: center;
    label {
      border: 1px solid #a5a5a5;
      border-radius: 0.5em;
      padding: 0.25em;
      margin-bottom: 0.25em;
      text-align: center;
      display: inline-block;
    }
    ul {
      text-align: left;
      list-style: none;
      line-height: 1;
      margin: 0;
      margin-bottom: 0.25em;
      padding: 0em;
      li { margin-bottom: 00em; }
      .eventID{ font-family: 'Archivo Black' }
      .eventName{ font-weight: bold; }
    }
  }
}