@import-normalize;

h1 {
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
}

label {
  cursor: pointer;
}

.designer{
  font-size: 1.2em;
  font-family: 'Archivo Narrow', sans-serif;
  line-height: 1.2;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  .toprow {
    @media (orientation: landscape) {
      display: grid;
      grid-template-columns: 1fr 97.75vh 1fr;
      height: 85vh;
      width: 100%;
    }
    @media (orientation: portrait) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  .bottomrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tilebox {
    $hextool-size: 3.5em;
    $max-rowcols: 4;
    @media (orientation: landscape) {
      max-width: $max-rowcols * $hextool-size + 1em;
      margin-left: auto;
    }
    overflow: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    label, input {
      cursor: pointer;
    }
    button.hexbutton{
      width: $hextool-size;
      height: $hextool-size;
      cursor: pointer;
      background: none;
      border: 3px solid white;
      margin: 0;

      svg path[style*="fill:none"] {
        stroke: #ccc !important;
        stroke-width: 3px !important;
      }

      &.active {
        border: 3px solid red;
      }
      img{
        width: 100%;
      }
    }
  }

  .scenariomap {
    cursor: pointer;
    @media (orientation: landscape) {
      width: 97.75vh;
      height: 100%;
    }
    @media (orientation: portrait) {
      width: 100%;
      height: 47vh;
    }
    pointer-events: visible;
    .grid_show .hexagon polygon {
      stroke: #ccc;
      stroke-width: 0.25px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
    .grid_hide .hexagon polygon {
      stroke: #fff;
    }
    .grid_hide.hex-gap polygon {
      fill: #fff;
    }
    .hexagon polygon:hover{
      stroke: #c00;
      stroke-width: 1px;
    }
  }

  .status-bar {
    font-size: 75%;
    text-align: right;
    width: 100%;
    height: 1.5em;
    .left {
      display: inline-block;
      text-align: left;
      width: 50%;
    }
    .right {
      display: inline-block;
      text-align: right;
      width: 50%;
    }
  }

  .columnBox {
    @media (orientation: landscape) {
      max-width: 10em;
    }
    @media (orientation: portrait) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    height: inherit;
    overflow: auto;
    font-size: 90%;
  }

  .manage-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    font-size: 90%;
    button {
      display: inline-block;
      cursor: pointer;
      margin: 0;
      margin-bottom: 0.15em;
      width: 50%;

    }
    label {
      cursor: pointer;
      text-align: center;
      border: 1px solid #a5a5a5;
      border-radius: 0.5em;
      padding: 0.5em;
      margin-bottom: 0.15em;
      input {
        cursor: pointer;
        margin-right: 0.25em;
      }
    }
  }

  .namer{
    width: 100%;
    text-align: center;
    input {
      width: 95%;
      height: 100%;
      font-size: 100%;
      margin: 0;
    }
  }

  .statusbox {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 1em;
    .good::before{
      font-weight: bold;
      color: green;
      content: '✓';
      padding-right: 0.12em;
    }

    .bad::before {
      font-weight: bold;
      color: red;
      content: '✗';
    }
  }

  .shift-tools{
    margin-left: 0.25em;
    padding-top: 0.5em;
    text-align: left;
    button {
      margin-top: 0.15em;
      margin-bottom: 0.15em;
      padding: 0.20em;
    }

    button:nth-child(1), button:nth-child(4) { /* up & down*/
       display: block;
       margin-left: 2.8em;
    }

    button:nth-child(2) { /* left */
      margin-right: 1.2em;
    }

    button:nth-child(3) { /* right */
      margin-left: 1.2em;
    }

  }

  .gallery {
    max-width: 15em;
    min-width: 8em;
    font-size: 90%;
    overflow: auto;
    user-select: text;
    button.expand{
      float: left;
      margin: 0.25em;
      margin-top: -0.25em;
      margin-left: 0em;
      padding: 0em;
      font-weight: bold;
      font-size: 120%;
      border: none;
      background: none;
      width: 1em;
      user-select: none;
    }
    h1 {
      cursor: pointer;
      user-select: none;
      font-size: inherit;
      text-align:left;
      width: 100%;
      margin-top: 0;
    }
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      &.hide {
        display: none;

      }
    }
    li {
      margin-bottom: 0.25em;
      button {
        text-align: left;
        margin-right: 0em;
        margin-left: 0em;
        line-height: 1;
      }
    }
  }

  .textmap{
    font-size: 75%;
    overflow: hidden;
  }
}
